name: build

on: [push, pull_request]

jobs:
  build-bin-cross:
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - arm-unknown-linux-gnueabi
          - arm-unknown-linux-musleabi
          - i686-unknown-linux-gnu
          - i686-unknown-linux-musl
          # - mips-unknown-linux-gnu
          - x86_64-pc-windows-gnu
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl

    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: show last commit
        run: |
          git show --summary

      - name: install rust toolchain
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: nightly

      - name: install deps
        run: |
          sudo apt update && sudo apt install llvm-dev libclang-dev clang libssl-dev pkg-config protobuf-compiler make -y

      - name: install cross
        run: |
          cargo install cross

      - name: build
        run: |
          cross build --target ${{ matrix.target }} -p leaf-bin --release

      - name: rename and compress artifacts
        if: ${{ matrix.target == 'x86_64-pc-windows-gnu' }}
        run: |
          mv target/${{ matrix.target }}/release/leaf.exe leaf-${{ matrix.target }}.exe

      - name: rename and compress artifacts
        if: ${{ matrix.target != 'x86_64-pc-windows-gnu' }}
        run: |
          mv target/${{ matrix.target }}/release/leaf leaf-${{ matrix.target }}

      - name: upload assets
        if: ${{ matrix.target == 'x86_64-pc-windows-gnu' }}
        uses: actions/upload-artifact@v2
        with:
          name: leaf-${{ matrix.target }}.exe
          path: leaf-${{ matrix.target }}.exe

      - name: upload assets
        if: ${{ matrix.target != 'x86_64-pc-windows-gnu' }}
        uses: actions/upload-artifact@v2
        with:
          name: leaf-${{ matrix.target }}
          path: leaf-${{ matrix.target }}

  build-bin-local:
    strategy:
      matrix:
        os: [macos-latest]
        include:
          - os: macos-latest
            target: x86_64-apple-darwin

    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: show last commit
        run: |
          git show --summary

      - name: install rust toolchain
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: nightly

      - name: install llvm
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          brew update && brew install llvm protobuf upx

      - name: build
        run: |
          cargo build --release --target ${{ matrix.target }} -p leaf-bin

      - name: rename and compress artifacts
        run: |
          mv target/${{ matrix.target }}/release/leaf leaf-${{ matrix.target }}

      - name: upload assets
        uses: actions/upload-artifact@v2
        with:
          name: leaf-${{ matrix.target }}
          path: leaf-${{ matrix.target }}

  build-lib-ios:
    runs-on: macos-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: show last commit
        run: |
          git show --summary

      - name: show xcode
        run: |
          xcodebuild -version
          xcrun --sdk iphoneos --show-sdk-path

      - name: install rust
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: nightly

      - name: install toolchain
        run: |
          rustup target add aarch64-apple-ios
          cargo install cargo-lipo
          cargo install cbindgen
          brew update && brew install llvm unzip protobuf

      - name: build
        run: |
          # OPENSSL_DIR=/tmp/openssl-ios64 cargo lipo --release -p leaf-mobile --targets aarch64-apple-ios
          cargo lipo --release -p leaf-mobile --targets aarch64-apple-ios

      - name: generate header
        run: |
          cbindgen leaf-mobile/src/lib.rs -l c > leaf.h

      - name: zip artifacts
        run: |
          mv target/universal/release/libleaf.a .
          zip libleaf-ios.zip leaf.h libleaf.a

      - name: verify zip artifacts
        run: |
          unzip -l libleaf-ios.zip

      - name: upload assets
        uses: actions/upload-artifact@v2
        with:
          name: libleaf-ios.zip
          path: libleaf-ios.zip
